%p
  %label{:for => "user_email"} Email
  = form.text_field :email
%p
  %label{:for => "user_login"} Login
  = form.text_field :login
%p
  %label{:for => "user_password"} Password
  = form.password_field :password
%p
  %label{:for => "user_password_confirmation"} Confirm Password
  = form.password_field :password_confirmation

